    .superwrap {
        width: 900px;
    }
    
    .fullwrap {
        display: inline-block;
        border-radius: 8px;
        position: relative;
        width: 410px;
        height: 639px;
        border: 4px solid rgb(80, 149, 151);
    }
    
    .header {
        margin-top: 30px;
        margin-left: -1px;
        position: absolute;
        width: 412px;
        height: 60px;
        background-color: rgb(80, 149, 151);
    }
    
    .casio {
        font-size: 20px;
        color: white;
        margin-left: 310px;
    }
    
    .text_input {
        margin-top: 102px;
        margin-left: 6px;
        border-radius: 8px;
        position: absolute;
        width: 388px;
        height: 60px;
        border: 4px solid rgb(80, 149, 151);
    }
    
    .blue_block {
        margin-top: 180px;
        position: absolute;
        width: 138px;
        height: 51px;
        margin-left: 253px;
        background-color: rgb(80, 149, 151);
    }
    
    .text {
        color: rgb(80, 149, 151);
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
    
    .button_7,
    .button_8,
    .button_9,
    .button_plus,
    .button_4,
    .button_5,
    .button_6,
    .button_minus,
    .button_1,
    .button_2,
    .button_3,
    .button_division,
    .button_comma,
    .button_0,
    .button_equal,
    .button_multiplication {
        border-radius: 8px;
        position: absolute;
        width: 71px;
        height: 69px;
        border: 4px solid rgb(80, 149, 151);
    }
    
    .button_7:hover,
    .button_8:hover,
    .button_9:hover,
    .button_plus:hover,
    .button_4:hover,
    .button_5:hover,
    .button_6:hover,
    .button_minus:hover,
    .button_1:hover,
    .button_2:hover,
    .button_3:hover,
    .button_division:hover,
    .button_comma:hover,
    .button_0:hover,
    .button_equal:hover,
    .button_multiplication:hover {
        background: rgba(0, 0, 0, 0);
        color: rgb(80, 149, 151);
        box-shadow: inset 0 0 0 10px rgb(80, 149, 151);
    }
    
    .button_7:active,
    .button_8:active,
    .button_9:active,
    .button_plus:active,
    .button_4:active,
    .button_5:active,
    .button_6:active,
    .button_minus:active,
    .button_1:active,
    .button_2:active,
    .button_3:active,
    .button_division:active,
    .button_comma:active,
    .button_0:active,
    .button_equal:active,
    .button_multiplication:active {
        background-color: #333;
        border-color: #333;
        color: #eee;
    }
    
    .button_7,
    .button_8,
    .button_9,
    .button_plus {
        margin-top: 252px;
    }
    
    .button_4,
    .button_5,
    .button_6,
    .button_minus {
        margin-top: 352px;
    }
    
    .button_1,
    .button_2,
    .button_3,
    .button_division {
        margin-top: 452px;
    }
    
    .button_comma,
    .button_0,
    .button_equal,
    .button_multiplication {
        margin-top: 552px;
    }
    
    .button_7,
    .button_4,
    .button_1,
    .button_comma {
        margin-left: 15px;
    }
    
    .button_8,
    .button_5,
    .button_2,
    .button_0 {
        margin-left: 115px;
    }
    
    .button_9,
    .button_6,
    .button_3,
    .button_equal {
        margin-left: 215px;
    }
    
    .button_plus,
    .button_minus,
    .button_division,
    .button_multiplication {
        margin-left: 315px;
    }
    
    input[type="text"] {
        font-size: 30px;
        color: rgb(80, 149, 151);
        outline: none;
        border: none;
        width: 370px;
        height: 50px;
    }
    
    .fullwrap_1 {
        border-radius: 8px;
        float: right;
        width: 410px;
        height: 639px;
        border: 4px solid rgb(80, 149, 151);
    }
    
    .header_1 {
        float: left;
        margin-top: 30px;
        margin-left: -1px;
        width: 412px;
        height: 60px;
        background-color: rgb(80, 149, 151);
    }
    
    .casio_1 {
        font-size: 20px;
        color: white;
        margin-left: 310px;
    }
    
    .text_input_1 {
        margin-top: 10px;
        margin-left: 6px;
        border-radius: 8px;
        float: left;
        width: 388px;
        height: 60px;
        border: 4px solid rgb(80, 149, 151);
    }
    
    .blue_block_1 {
        margin-top: 10px;
        float: left;
        width: 138px;
        height: 51px;
        margin-left: 253px;
        background-color: rgb(80, 149, 151);
    }
    
    .text_1 {
        color: rgb(80, 149, 151);
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
    
    .button_7_1,
    .button_8_1,
    .button_9_1,
    .button_plus_1,
    .button_4_1,
    .button_5_1,
    .button_6_1,
    .button_minus_1,
    .button_1_1,
    .button_2_1,
    .button_3_1,
    .button_division_1,
    .button_comma_1,
    .button_0_1,
    .button_equal_1,
    .button_multiplication_1 {
        border-radius: 8px;
        float: left;
        width: 71px;
        height: 69px;
        border: 4px solid rgb(80, 149, 151);
    }
    
    .button_7_1:hover,
    .button_8_1:hover,
    .button_9_1:hover,
    .button_plus_1:hover,
    .button_4_1:hover,
    .button_5_1:hover,
    .button_6_1:hover,
    .button_minus_1:hover,
    .button_1_1:hover,
    .button_2_1:hover,
    .button_3_1:hover,
    .button_division_1:hover,
    .button_comma_1:hover,
    .button_0_1:hover,
    .button_equal_1:hover,
    .button_multiplication_1:hover {
        background: rgba(0, 0, 0, 0);
        color: rgb(80, 149, 151);
        box-shadow: inset 0 0 0 10px rgb(80, 149, 151);
    }
    
    .button_7_1:active,
    .button_8_1:active,
    .button_9_1:active,
    .button_plus_1:active,
    .button_4_1:active,
    .button_5_1:active,
    .button_6_1:active,
    .button_minus_1:active,
    .button_1_1:active,
    .button_2_1:active,
    .button_3_1:active,
    .button_division_1:active,
    .button_comma_1:active,
    .button_0_1:active,
    .button_equal_1:active,
    .button_multiplication_1:active {
        background-color: #333;
        border-color: #333;
        color: #eee;
    }
    
    .button_7_1,
    .button_8_1 {
        margin-top: 20px;
    }
    
    .button_9_1 {
        margin-top: -77px;
    }
    
    .button_plus_1 {
        margin-top: -77px;
    }
    
    .button_4_1,
    .button_5_1,
    .button_6_1,
    .button_minus_1 {
        margin-top: -170px;
    }
    
    .button_1_1,
    .button_2_1 {
        margin-top: -70px;
    }
    
    .button_division_1 {
        margin-top: -77px;
    }
    
    .button_comma_1,
    .button_0_1 {
        margin-top: 20px;
    }
    
    .button_multiplication_1 {
        margin-top: -77px
    }
    
    .button_equal_1,
    .button_3_1 {
        margin-top: -77px
    }
    
    .button_7_1,
    .button_4_1,
    .button_1_1,
    .button_comma_1 {
        margin-left: 15px;
    }
    
    .button_8_1 {
        margin-left: 20px;
    }
    
    .button_5_1 {
        margin-left: 115px;
    }
    
    .button_2_1,
    .button_0_1 {
        margin-left: 20px;
    }
    
    .button_9_1,
    .button_6_1,
    .button_3_1,
    .button_equal_1 {
        margin-left: 215px;
    }
    
    .button_plus_1,
    .button_minus_1,
    .button_division_1,
    .button_multiplication_1 {
        margin-left: 315px;
    }
    
    .button_plus_1 {
        margin-bottom: 190px;
    }