@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body{
    background-color: #bde0e5;
}

h1{
    font-size: 30px;
    text-align: center;
}

.puncts{
    font-family: Impact, fantasy;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    margin-bottom: 0px;
}

.name{
    font-family: Impact, fantasy;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.capital{
    font-family: Impact, fantasy;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-bottom: 0px;
}

.hr1{
    border: none; 
    background-color: black; 
    color: black; 
    height: 3px; 
}

.pers_data{
    font-size: 20px;
    text-align: justify;
    padding: 0px; 
    background: #bde0e5; 
}

.pers_data ul{
    list-style-type: square;
}

.pers_data_1{
    display: inline-block;
    font-size: 20px;
    text-align: justify;
    padding-left: 50px; 
    background: #bde0e5; 
}

.img{
    border-color: black;
      border-image: none;
      border-radius: 50px 0 50px 0;
      border-style: solid;
      border-width: 10px;
}

.sh{
    text-align: center;
}

.sh1{
    text-align: left;
    padding-left: 10px; /* Отступ слева */
    padding-bottom: 10px; /* Отступ снизу */
    margin-left: auto;
    margin-right: auto
}

div.container1{
    font-size: 20px;
    height: 40px;
    position: relative
}

div.container1 p{
    display: flex;
    align-items: center;
    justify-content: left;
}

.img1{
    border: 2px solid black;
}

.top-menu {
    position: relative; 
    background: #bde0e5;
    box-shadow: inset 0 0 10px #ccc;
  }
  .top-menu:before,
  .top-menu:after {
    content: "";
    display: block;
    height: 1px;
    border-top: 3px solid #575350;
    border-bottom: 1px solid #575350;
    margin-bottom: 2px;
  }
  .top-menu:after {
    border-bottom: 3px solid #575350;
    border-top: 1px solid #575350;
    box-shadow: 0 2px 7px #ccc;
    margin-top: 2px;
  }
  .menu-main {
    list-style: none;
    padding: 0 30px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    position: relative;
  }
  .menu-main:before,
  .menu-main:after {
    content: "\25C8";
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu-main:before {left: 15px;}
  .menu-main:after {right: 15px;}
  .menu-main li {
    display: inline-block;
    padding: 5px 0;
  }
  .menu-main a {
    text-decoration: none;
    display: inline-block;
    margin: 2px 5px;
    padding: 6px 15px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #777777;
    border-bottom: 1px solid transparent;
    transition: .3s linear;
  }
  .menu-main .current, .menu-main a:hover {
    border-radius: 3px;
    background: #f3ece1;
    color: #313131;
    text-shadow: 0 1px 0 #fff;
    border-color: #c6c6c6;
  }
  @media (max-width: 500px) {
    .menu-main li {display: block;}
  }



  span.a {
    display: inline; /* the default for span */
    font-size: 20px;
    width: 70px;
    height: 70px;
    padding: 15px;
    border: 1px solid blue;    
    background-color: yellow; 
}

span.b {
    display: inline-block;
    font-size: 20px;
    width: 70px;
    height: 70px;
    padding: 15px;
    border: 1px solid blue;        
    background-color: yellow; 
}

span.c {
    display: block;
    font-size: 20px;
    width: 70px;
    height: 70px;
    padding: 15px;
    border: 1px solid blue;        
    background-color: yellow; 
}

span.d {
  display: none;
  font-size: 20px;
  width: 70px;
  height: 70px;
  padding: 15px;
  border: 1px solid blue;        
  background-color: yellow; 
}

.category-wrap {
  padding: 15px;
  background: #bde0e5;
  width: 200px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.category-wrap h3 {
  font-size: 16px;
  color: rgba(0,0,0,.6);
  margin: 0 0 10px;
  padding: 0 5px;
  position: relative;
}
.category-wrap h3:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #80C8A0;
  position: absolute;
  right: 5px;
  bottom: 2px;
  box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
}
.category-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  border-top: 1px solid rgba(0,0,0,.3);
}
.category-wrap li {margin: 12px 0 0 0px;}
.category-wrap a {
  text-decoration: none;
  display: block;  
  font-size: 13px;
  color: rgba(0,0,0,.6);
  padding: 5px;
  position: relative;
  transition: .3s linear;
}
.category-wrap a:after {
  content: "\f18e";
  font-family: FontAwesome;
  position: absolute;
  right: 5px;
  color: rgb(0, 0, 0);
  transition: .2s linear;
}
.category-wrap a:hover {
  background: #f3ece1;
  color: rgb(0, 0, 0);
}


.lr_3_h1{
  color: green;
  font-family: Verdana;
  text-align: left;
}

article header p{
  background-color: red;
  color: white;
  font-family: Verdana;
}

article figure{
  width: 600px;
  border: 3px solid black;
  padding: 5px;
}

article figure img {
  width: 100%;
}

article{
  width: 800px;
  font-family: Verdana;
}

.site-nav{ 
  
  background-color: palevioletred;
  list-style: none;
  padding: 0;
  width: 200px;
  border: 1px solid mediumvioletred;
}

.site-nav .site-nav-item{
  border-bottom: 1px solid mediumvioletred;
  padding: 5px;
}

.site-nav .site-nav-item:last-child{
  border-bottom: none;
}

.site-nav .site-nav-item a{
  color: white;
  text-decoration: none;
}

.site-nav .site-nav-item a:hover{
  text-decoration: underline;
}