body {
    background-color: #bde0e5;
}

#circle {
    margin-left: 20cm;
    margin-bottom: 2cm;
    width: 120px;
    height: 120px;
    background: #7fee1d;
    border-radius: 60px;
}

#square {
    margin-left: 10cm;
    margin-bottom: 2cm;
    width: 120px;
    height: 120px;
    background: #f447ff;
}

#rectangle {
    margin-left: 20cm;
    margin-bottom: 2cm;
    width: 220px;
    height: 120px;
    background: #4da1f7;
}

#oval {
    margin-left: 10cm;
    margin-bottom: 2cm;
    width: 200px;
    height: 100px;
    background: #e9337c;
    border-radius: 100px/50px;
}

#triangle {
    margin-left: 20cm;
    margin-bottom: 2cm;
    width: 0;
    height: 0;
    border-bottom: 140px solid #fcf921;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

#triangle_down {
    margin-left: 10cm;
    margin-bottom: 2cm;
    width: 0;
    height: 0;
    border-top: 140px solid #20a3bf;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

#triangle_left {
    margin-left: 20cm;
    margin-bottom: 2cm;
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-right: 140px solid #6bbf20;
    border-bottom: 70px solid transparent;
}

#triangle_right {
    margin-left: 10cm;
    margin-bottom: 2cm;
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-left: 140px solid #ff5a00;
    border-bottom: 70px solid transparent;
}

#diamond {
    margin-left: 20cm;
    margin-bottom: 2cm;
    width: 120px;
    height: 120px;
    background: #1eff00;
    transform: rotate(-45deg);
}

#trapezium {
    margin-left: 10cm;
    margin-bottom: 2cm;
    height: 0;
    width: 120px;
    border-bottom: 120px solid #ec3504;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

#parallelogram {
    margin-left: 20cm;
    margin-bottom: 2cm;
    width: 160px;
    height: 100px;
    background: #8734f7;
    transform: skew(30deg);
}

#star {
    margin-left: 10cm;
    margin-bottom: 2cm;
    width: 0;
    height: 0;
    position: relative;
    display: block;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #fc2e5a;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}

#star::before {
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    top: -45px;
    left: -65px;
    border-bottom: 80px solid #fc2e5a;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    content: '';
    transform: rotate(-35deg);
}

#star::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    top: 3px;
    left: -105px;
    color: #fc2e5a;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #fc2e5a;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
}

#star_six_points {
    margin-left: 20cm;
    margin-bottom: 2cm;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #de34f7;
    position: relative;
}

#star_six_points:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #de34f7;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
}

#pentagon {
    margin-left: 10cm;
    margin-bottom: 2cm;
    position: relative;
    width: 54px;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: #277bab transparent;
}

#pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent #277bab;
}

#hexagon {
    margin-left: 20cm;
    margin-bottom: 2cm;
    margin-left: 20cm;
    width: 100px;
    height: 55px;
    background: #fc5e5e;
    position: relative;
}

#hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #fc5e5e;
}

#hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #fc5e5e;
}

#octagon {
    margin-left: 10cm;
    margin-bottom: 2cm;
    width: 100px;
    height: 100px;
    background: #ac60ec;
    position: relative;
}

#octagon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid #ac60ec;
    border-left: 29px solid #bde0e5;
    border-right: 29px solid #bde0e5;
    width: 42px;
    height: 0;
}

#octagon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid #ac60ec;
    border-left: 29px solid #bde0e5;
    border-right: 29px solid #bde0e5;
    width: 42px;
    height: 0;
}

#heart {
    margin-left: 20cm;
    margin-bottom: 2cm;
    position: relative;
    width: 100px;
    height: 90px;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

#infinity {
    margin-left: 10cm;
    margin-bottom: 2cm;
    position: relative;
    width: 212px;
    height: 100px;
}

#infinity:before,
#infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid #06c999;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
}

#infinity:after {
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
}

#comment_bubble {
    margin-left: 20cm;
    margin-bottom: 2cm;
    width: 140px;
    height: 100px;
    background: #088cb7;
    position: relative;
    border-radius: 12px;
}

#comment_bubble:before {
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 38px;
    position: absolute;
    border-top: 13px solid transparent;
    border-right: 26px solid #088cb7;
    border-bottom: 13px solid transparent;
}

#pacman {
    margin-left: 10cm;
    margin-bottom: 2cm;
    width: 0;
    height: 0;
    border-right: 70px solid transparent;
    border-top: 70px solid #ffde00;
    border-left: 70px solid #ffde00;
    border-bottom: 70px solid #ffde00;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}