ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    float: center;
    position: absolute;
    left: 50%;
}

li { 
    padding-left: 16px;
    line-height: 2; 
}
  
.spades::before {
    content: " \2660"; 
    padding-right: 8px;
    color: black; 
}

.clubs::before {
    content: " \2663"; 
    padding-right: 8px;
    color: black; 
}

.diamonds::before {
    content: " \2666";
    padding-right: 8px;
    color: red; 
}

.hearts::before {
    content: " \2665"; 
    padding-right: 8px;
    color: red; 
}